/.nb-gradle/
/com.clt.mac/build/
/com.clt.xml/build/
/com.clt.base/build/
/com.clt.script/build/
/ClientInterface/build/
/Diamant/build/
/com.clt.audio/build/
/SpeechClient/build/
/RecognizerClient/build/
/plugins/DialogOS_PocketSphinxPlugin/build/
/com.clt.speech/build/
/plugins/build/
/TTSClient/build/
/plugins/DialogOS_MaryTTSPlugin/build/
/plugins/exampleplugin/build/
/com.clt.script/src/main/java/com/clt/script/parser/Lexer.java
/com.clt.script/src/main/java/com/clt/script/parser/Parser.java
/com.clt.script/src/main/java/com/clt/script/parser/Sym.java
/com.clt.speech/src/main/java/com/clt/speech/htk/Lexer.java
/com.clt.speech/src/main/java/com/clt/speech/htk/Parser.java
/com.clt.speech/src/main/java/com/clt/speech/htk/Sym.java
/build/
/com.clt.lego/build/
/plugins/DialogOS_NxtPlugin/build/